<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header.ejs')%>
    <link rel="stylesheet" href="/css/index.css">
    <title>Supermarket</title>
</head>
<body>
    <%- include ('../partials/usernavbar.ejs') %>

    <div class="container">

        <hr>
        <h2 id="titulo"> P치gina do admin </h2>
        <hr>    
    
        Usu치rio: <%= user.name %><br> 
        E-mail: <%= user.email %>

    <hr>   

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Produtos</th>
                <th><a href="/product/create">Casdastrar Produto</a></th>
                <th><a href="/product/productslist">Lista de Produtos</a></th>
            </tr>
        </thead>
    </table>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Categorias</th>
                <th><a href="/admin/categories/createcategory">Criar categoria</a></th>
                <th><a href="/admin/categories/categorieslist">Lista de categorias</a></th>
            </tr>
        </thead>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Usu치rios</th>
                <th><a href="/admin/users/list">Lista de usu치rios</a></th>
            </tr>
        </thead>
    </table>
        
</div>

</body>
    <%- include ('../partials/footer.ejs') %>
</html>