<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header.ejs')%>
    <link rel="stylesheet" href="/css/cadastroproduto.css">
    <title>Edição do produto | Supermarket</title>
</head>
<body>

    <%- include ('../partials/navbar.ejs') %> <br>
   
    <div class="container"> 

        <div class="card">

            <div class="card-header">     
                <h4> Editar produto </h4>
            </div>

        <form action="/product/edit" method="POST">

            <div class="card-body">  

            <select name="category" class="form-control">

                <% categories.forEach(category => { %>
                    
                    <% if (product.categoryId == category.id) { %> 
                        <option value="<%= category.id%>" selected><%= category.name %></option>
                    <% } else { %>
                        <option value="<%= category.id%>"><%= category.name %></option>
                    <% } %>    
    
                <% }) %>
    
            </select> 
                
            <label>Nome do produto</label><br>
            <input type="text" name="name" class="form-control" value="<%= product.name %>"> <br>

            <label>Preço</label><br>
            <input type="text" name="price" class="form-control" value="<%= product.price %>"> <br>
            <input type="hidden" name="id" value="<%= product.id %>">
            <button class="btn btn-success"> Editar </button>
           
            </div>
        </form> 
    </div>  
    
</body>
    <%- include ('../partials/footer.ejs') %>
</html>