<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header.ejs')%>
    <link rel="stylesheet" href="/css/cadastroproduto.css">
    <title>Supermarket</title>
</head>
<body>

    <%- include ('../partials/navbar.ejs') %>
   
    <h1> Produto </h1>
    
    <div class="container">

        <br>
        <div class="card">
                       <div class="card-body">
                <%= product.id %>. Produto: <%= product.name %>
            </div>

            <div class="card-footer">
                Preço: R$<%= product.price %>
            </div>

        </div>        
    
    <br>
    <a href="/product/create">Cadastrar um produto</a> <br>
    <a href="/product/productslist">Voltar</a> <br>
    <a href="/">Home</a>

    </div>

</body>
    <%- include ('../partials/footer.ejs') %>
</html>